@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/Muller-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
body {
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  color: #000000;
  // min-height: 2000px;
  // background: #d9d9d9;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
.navbar {
  height: 101px;
  flex-wrap: nowrap;
}
.navbar__logo {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 800;
  font-size: 26.2722px;
  line-height: 89.9%;
  text-transform: uppercase;
  width: 185px;
}
.navbar__left {
  width: 609px;
  display: flex;
}
.navbar__right {
  width: 100%;
  max-width: 383px;
}
.navbar__list {
  display: flex;
  gap: 33px;
  justify-content: space-between;
  align-items: center;
}
.navbar__item {
  & a {
    font-size: 12px;
    line-height: 12px;
  }
}
body > div > div.navbar__right > ul > li:nth-child(1) > a > div:nth-child(1) {
  text-align: end;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
body > div > div.navbar__right > ul > li:nth-child(1) > a > div:nth-child(2) {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: right;
}
.navbar__right__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsup__ico {
  background: linear-gradient(180deg, #8cfb90 0%, #0eaa00 100%);
  position: relative;
}
.telegram__ico {
  background: linear-gradient(180deg, #6486ff 0%, #2850dd 100%);
}
.order__btn {
  z-index: 100;
  padding: 12px 19px;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border: 1px solid #6486ff;
    color: #fff;
  }
  &:before {
    border-radius: inherit;
    background-image: linear-gradient(180deg, #6486ff 0%, #2850dd 100%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.3s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:active {
    border: 1px solid #ffc700;
    color: #000;
    top: 2px;
    &::before {
      background-image: linear-gradient(180deg, #ffdd65 0%, #ffc700 100%);
      position: absolute;
    }
  }
}
@media (max-width: 1199px) {
  .navbar__list {
    gap: 15px;
  }
}

/* Гамбургер*/
#hamburger__menu {
  display: none;
  z-index: 1000;
  position: absolute;
}
#menu__toggle {
  opacity: 0;
}
#menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 34px;
  right: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
}
#menu__btn > span::before {
  content: "";
  top: -8px;
}
#menu__btn > span::after {
  content: "";
  top: 8px;
}
#menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px 40px 0 40px;
  list-style: none;
  text-align: start;
  background: #d9d9d9;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
} /* элементы меню */
.menu__item {
  display: block;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
#menu__box > :not(:first-child) {
  margin-top: 26px;
}
#menu__toggle {
  position: fixed;
}
#menu__toggle:checked ~ #menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ #menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ #menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ #menu__box {
  visibility: visible;
  left: 0;
  overflow-y: scroll;
}
#menu__btn > span,
#menu__btn > span::before,
#menu__btn > span::after {
  transition-duration: 0.25s;
}
#menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
/* Гамбургер окончание */

.noscrloll {
  overflow-y: hidden;
}
#menu__box > li:nth-child(5) > a,
#menu__box > li:nth-child(6) > a {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 991px) {
  #hamburger__menu {
    display: inline-block;
  }
  .navbar__list,
  body > div > div.navbar__right > ul > li:not(:nth-child(1)) {
    display: none;
  }
  #menu__box > li:nth-child(7) > a {
    display: block;
    width: 100%;
  }
}
@media (max-width: 575px) {
  .navbar {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    height: 16px;
  }
  .navbar__logo {
    font-weight: 800;
    font-size: 9.1969px;
    line-height: 89.9%;
    width: 66px;
  }
  body > div > div.navbar__right > ul > li:nth-child(1) > a > div:nth-child(1) {
    font-size: 9.1969px;
    line-height: 9px;
  }
  body > div > div.navbar__right > ul > li:nth-child(1) > a > div:nth-child(2) {
    font-weight: 400;
    font-size: 5.51814px;
    line-height: 6px;
  }
  #menu__btn {
    width: 13px;
    top: 2px;
  }
  #menu__btn > span,
  #menu__btn > span::before,
  #menu__btn > span::after {
    height: 2px;
  }
  #menu__btn > span::before {
    top: -4px;
  }
  #menu__btn > span::after {
    top: 4px;
  }
  .navbar__left {
    width: 60%;
  }
}

//Секция main
.main {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.map__btn {
  position: relative;
  z-index: 10;
  background: #d9d9d9;
  box-shadow: inset 0px 3.09091px 8.33292px rgba(0, 0, 0, 0.1);
  border-radius: 15.4545px;
  padding: 7px 14px;
  display: inline-block;
  border: 0.77px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) -18.48%,
    rgba(255, 255, 255, 0) 106.24%
  );
  & > div {
    display: flex;
    gap: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    & img {
      width: 14px;
      height: 19px;
    }
  }
}
.main__block {
  position: relative;
  z-index: -10;
}
.main__text {
  margin-top: 6px;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 800;
  font-size: 151.995px;
  line-height: 144px;
  background: linear-gradient(
    90.56deg,
    #000000 22.28%,
    rgba(0, 0, 0, 0) 121.98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: -9px;
}
@media (max-width: 1199px) {
  .main__text {
    font-size: 121px;
  }
}
@media (max-width: 991px) {
  .main__text {
    font-size: 90px;
    line-height: 80px;
  }
}
@media (max-width: 767px) {
  .main__text {
    font-size: 68px;
  }
}
@media (max-width: 575px) {
  .main {
    margin-top: 13px;
    // padding-left: 10px;
    // padding-right: 10px;
  }
  .map__btn {
    padding: 3px 7px;
    & > div {
      font-weight: 500;
      font-size: 7.41176px;
      line-height: 7px;
      gap: 3px;
      img {
        width: 7px;
        height: 10px;
      }
    }
  }
  .main__text {
    font-size: 45.0648px;
    line-height: 42px;
    text-align: center;
    margin-left: 0;
    letter-spacing: normal;
  }
  .main__block {
    text-align: center !important;
  }
}
@media (max-width: 375px) {
  .main__text {
    font-size: 30px;
    line-height: 25px;
  }
}
@media (max-width: 260px) {
  .main__text {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 178px) {
  .main__text {
    -webkit-text-fill-color: #000;
  }
}
.warranty {
  margin-top: 17px;
  width: 461px;
  .label {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
  }
}
.calculation {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  width: 461px;
  & .order__btn {
    width: 183px;
    height: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    z-index: 10;
  }
}
.btn_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-family: "Muller";
  position: relative;
  &:active {
    top: 1px;
  }
}
.calculation__btn {
  padding: 0 30px;
  height: 60px;
  width: 263px;
  background: linear-gradient(180deg, #ffdd65 0%, #ffc700 100%);
  box-shadow: inset 0px -4px 14px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  position: relative;
  z-index: 100;
  span {
    margin-left: 14px;
  }
  &::before {
    content: "";
    background-image: url(../img/calculator_ico.png);
    width: 21px;
    height: 28px;
  }
  &:hover {
    box-shadow: inset 0px -4px 18px rgba(255, 255, 255, 0.2);
    span {
      color: #ffffff;
    }
    &::before {
      background-image: url(../img/calculator_ico_active.png);
    }
  }
  &::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.3s;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #6486ff 0%, #2850dd 100%);
  }
  &:hover::after {
    opacity: 1;
  }
  &:active::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.3s;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #ffdd65 0%, #ffc700 100%);
  }
  &:active::after {
    opacity: 1;
  }
}
@media (max-width: 575px) {
  .warranty {
    width: 311px;
    display: inline-block;
    .label {
      font-size: 13px;
      line-height: 13px;
    }
  }
  body > section > div.calculation > a:nth-child(2) > div,
  .calculation__btn {
    height: 40px;
    border-radius: 13px;
    font-size: 10px;
  }
  .calculation__btn {
    width: 176px;
    padding: 0 20px;
    span {
      margin-left: 10px;
    }
  }
  .calculation {
    width: 312px;
    margin: 18px auto 0;
    display: flex;
    .order__btn {
      width: 122px;
    }
  }
}
@media (max-width: 330px) {
  .warranty {
    width: 95%;
  }
  .calculation {
    flex-direction: column;
    gap: 10px;
    width: 95%;
  }
  body > section > div.calculation > a:nth-child(2) > div,
  .calculation__btn {
    width: 90%;
  }
  .calculation__btn {
    justify-content: center;
  }
}

.advantage__box {
  display: flex;
  justify-content: space-between;
  margin-top: 186px;
  position: relative;
}
.advantage {
  width: 23.6%;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(180deg, #ffdd65 0%, #ffc700 100%);
    border-radius: 20px;
    transform: rotate(-45deg);
    width: 78px;
    height: 78px;
    display: block;
    position: absolute;
    z-index: 10;
    left: 96px;
    top: -40px;
  }
  img {
    position: absolute;
    z-index: 10;
    top: -54px;
    left: 95px;
  }
}
.advantage__outer {
  transition: 0.3s easy;
  width: 100%;
  height: 151px;
  background: #ffffff;
  box-shadow: 0px 4px 78px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 6px;
  position: relative;
  &::after {
    content: "";
    display: block;
    background: #426bfd;
    border-radius: 0px 0px 20px 20px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 173px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 52px;
  }
}
.advantage__inner {
  border-radius: 26px;
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    background-image: url(../img/advantage_box.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 264px;
    height: 139px;
    position: absolute;
  }
  h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    position: relative;
    top: 60px;
    max-width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .advantage__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    top: 58px;
  }
}
body > section > div.advantage__box > div:nth-child(2) > img {
  top: -51px;
  left: 95px;
}
body > section > div.advantage__box > div:nth-child(3) > img {
  top: -58px;
  left: 87px;
}
body > section > div.advantage__box > div:nth-child(4) > img {
  top: -65px;
  left: 86px;
}
body > section > div.advantage__box > div:nth-child(1) {
  margin-top: 112px;
}
body > section > div.advantage__box > div:nth-child(2) {
  margin-top: 128px;
}
body > section > div.advantage__box > div:nth-child(3) {
  margin-top: 144px;
}
body > section > div.advantage__box > div:nth-child(4) {
  margin-top: 160px;
}
@media (max-width: 1200px) {
  .advantage__box {
    .advantage__outer {
      &::after {
        width: 130px;
      }
    }
    .advantage {
      &::before {
        left: 77px;
      }
    }
    .advantage__inner {
      h4 {
        top: 50px;
      }
      &::before {
        width: 215px;
      }
    }
    .advantage__text {
      top: 50px;
    }
  }
  body > section > div.advantage__box > div:nth-child(1) > img {
    left: 74px;
  }
  body > section > div.advantage__box > div:nth-child(2) > img {
    left: 75px;
  }
  body > section > div.advantage__box > div:nth-child(3) > img {
    left: 65px;
  }
  body > section > div.advantage__box > div:nth-child(4) > img {
    left: 66px;
  }
}
@media (max-width: 991px) {
  .advantage__box .advantage__inner::before {
    width: 158px;
  }
  .advantage__outer {
    border-radius: 20px;
    height: 167px;
  }
  .advantage__box .advantage__outer::after {
    width: 112px;
    left: 30px;
  }
  .advantage__box .advantage::before {
    left: 49px;
  }
  body > section > div.advantage__box > div:nth-child(1) > img {
    left: 47px;
  }
  body > section > div.advantage__box > div:nth-child(2) > img {
    left: 47px;
  }
  body > section > div.advantage__box > div:nth-child(3) > img {
    left: 38px;
  }
  body > section > div.advantage__box > div:nth-child(4) > img {
    left: 39px;
  }
}
@media (max-width: 767px) {
  .advantage__box .advantage__inner::before {
    width: 115px;
  }
  .advantage__box .advantage__inner h4 {
    font-size: 14px;
  }
  .advantage__outer {
    border-radius: 14px;
    height: 186px;
    box-shadow: 0px 4px 28px rgb(0 0 0 / 20%);
  }
  .advantage__box .advantage__outer::after {
    width: 69px;
  }
  .advantage__box .advantage::before {
    left: 26px;
  }
  .advantage__box .advantage__text {
    font-size: 11px;
  }
  .advantage {
    img {
      width: 80%;
    }
  }
  body > section > div.advantage__box > div:nth-child(1) > img {
    left: 19px;
  }
  body > section > div.advantage__box > div:nth-child(2) > img {
    left: 26px;
    width: 60%;
  }
  body > section > div.advantage__box > div:nth-child(3) > img {
    left: 6px;
    width: 70%;
  }
  body > section > div.advantage__box > div:nth-child(4) > img {
    left: 14px;
    top: -65px;
  }
}
@media (max-width: 575px) {
  body > section > div.advantage__box {
    display: none;
  }
}
@media (min-width: 576px) {
  .swiper {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow-y: hidden;
}

.advantage__slider {
  .advantage {
    width: 203px;
    height: 111px;
    top: 64px;
    &::before {
      width: 58px;
      height: 58px;
      border-radius: 15px;
      z-index: 20;
      left: 74px;
      top: -30px;
    }
    img {
      width: 40%;
      z-index: 25;
    }
  }
  .advantage__inner::before {
    width: 195px;
    height: 103px;
    left: 4px;
    top: 4px;
  }
  .advantage__outer {
    border-radius: 20px;
    height: 111px;
    box-shadow: 0px 2.9508px 20.6556px rgba(65, 105, 249, 0.5);
  }
  .advantage__outer::after {
    width: 128px;
    height: 2px;
    left: 40px;
  }
  h4 {
    font-size: 12px;
    line-height: 12px;
    top: 33px;
  }
  .advantage__text {
    top: 35px;
    font-size: 9px;
    line-height: 10px;
    width: 132px;
  }
}
#slide1 img {
  top: -37px;
  left: 78px;
}
#slide2 img {
  top: -43px;
  left: 70px;
  width: 31%;
}

#slide3 img {
  width: 35%;
  top: -47px;
  left: 61px;
}
#slide4 img {
  width: 35%;
  top: -45px;
  left: 67px;
}
.swiper-slide {
  margin-right: 10px;
}
#menu__box > li:nth-child(7) > a {
  &:hover {
    background-image: none;
  }
}
.swiper-slide-active {
  .advantage__outer {
    background: #2850dd;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0)
    ); /* задаем градиентный фильтр */
    transition: 0.3s ease all;
    color: #fff;
    &::after {
      background: linear-gradient(180deg, #ffdd65 0%, #ffc700 100%);
    }
  }
}

.ibg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
  .backgound {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .master {
    position: absolute;
    bottom: 0;
    width: 710px;
    right: -128px;
  }
}
@media (max-width: 1200px) {
  .ibg {
    .backgound {
      object-fit: cover;
    }
  }
}
.container__master {
  height: 100%;
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 1920px;
  border-left-width: 0px;
  border-bottom: 141px solid #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
}
@media (max-width: 1200px) {
  .ibg {
    .master {
      width: 670px;
    }
  }
}
@media (max-width: 991px) {
  .ibg {
    .master {
      width: 590px;
    }
  }
}
@media (max-width: 575px) {
  .ibg {
    .master {
      display: none;
    }
  }
  .triangle {
    display: none;
  }
}
